#card {
  align-items: flex-start;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
}

#card img {
  border-radius: 10px;
  margin: 10px;
  width: 300px;
}
