form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

button {
  width: fit-content;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.descriptionInput {
  height: 4em;
}

.checkbox {
  display: inline-block;
  margin-left: 10px;
}

.input {
  margin-bottom: 15px;
  width: 500px;
}
