* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  width: fit-content;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox {
  display: inline-block;
  margin-left: 10px;
}

.input {
  margin-bottom: 15px;
}
